<!DOCTYPE html>
<html>
  <head>
    <title>CSharp Web Express Demo</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="css/bootstrap.css">
    <script src="js/bridge.js"></script>
    <script src="js/bridge.meta.js"></script>
    <script src="js/bridge.console.js"></script>
    <script src="js/CSharpWebLib.js"></script>
    <script src="js/CSharpWebLib.meta.js"></script>
    <script src="js/CSharpWebApp.js"></script>
    <script src="js/CSharpWebApp.meta.js"></script>
    <script src="script/qxlib.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Happy+Monkey" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=BioRhyme:700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fredoka+One" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Macondo" rel="stylesheet">
  </head>
  <body>
    <%= yield %>
  </body>
</html>
